   <div id="cBackground">
    <header>
        <div class="row">
            <div class="col">
                <h1 id="ch1">{{name}}
                    {{parent.chart}}</h1>
            </div>
        </div>
        <div>
            <button class="logoutbtn">
                <a class="no-button lgtParent" id="logout" href="#">logout</a>
            </button>
        </div>
    </header>  
<main class="container childpagelayout">
    <div>
            <div>
                <div class="choresImagesChild animate__animated animate__jackInTheBox">
                    <picture>
                        <source srcset="/images/childpage_kid.png" type="image/svg+xml">
                        <img src="/public/images/childpage_kid.png" 
                            class=" img-childpage" 
                            alt="ckid_chores">
                    </picture>    
                </div>
                <section 
                class="vh-100" 
                {{!-- style=
                    "background: linear-gradient(#627e9b4f, #0c11527e);" --}}
                    >
                    <div class="container 
                    py-5 
                    {{!-- h-100 --}}
                    ">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-9 col-xl-7">
                            <div class="card rounded-3">
                            <div class="card-body p-4">

                                <h4 class="text-center my-3 pb-3">{{name}}</h4>

                                <table class="table mb-4">
                                <thead>
                                    <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {{#each Chores as | chore |}}
                                    <tr>
                                    <th scope="row">{{chore.name}}</th>
                                    <td>{{chore.description}}</td>
                                    <td id="finished-{{chore.id}}" 
                                        type="submit" 
                                        class="ms-1">
                                        
                                        {{#if chore.status}}
                                            checked
                                        {{else}}
                                            unchecked
                                        {{/if}}
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-finish btn-success ms-1" 
                                        data-id="{{chore.id}}" 
                                        data-childid="{{../id}}"
                                        data-parentid="{{../parent.id}}"
                                        >Finished</button>
                                    </td>
                                    </tr>
                                    {{/each}}                                   
                                </tbody>
                                </table>

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>

            </div>
    </main>
</div>
    <script 
    src="/js/button.js">
    </script>
    <script src="/js/logout.js"></script>

