    <header>
        <div class="row">
            <div class="col">
                <h1>{{name}}
                    {{parent.chart}}</h1>
            </div>
        </div>
    </header>  
<main>
    <div>
            <div>
                <section class="vh-100" style="background-color: #eee;">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-9 col-xl-7">
                            <div class="card rounded-3">
                            <div class="card-body p-4">

                                <h4 class="text-center my-3 pb-3">{{name}}</h4>

                                <table class="table mb-4">
                                <thead>
                                    <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {{#each Chores as | chore |}}
                                    <tr>
                                    <th scope="row">{{chore.name}}</th>
                                    <td>{{chore.description}}</td>
                                    <td>{{chore.status}}</td>
                                    <td>
                                        <button type="submit" class="btn btn-success ms-1">Finished</button>
                                    </td>
                                    </tr>
                                    {{/each}}                                   
                                </tbody>
                                </table>

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </section>
            </div>
 </main>