<div id="pBackground">
    <header>
        <div class="row">
            <div class="col">

                <h1 id="ph1" > Hello {{ name }} - {{chart}}</h1>

            </div>
        </div>
        <div>
            <button class="logoutbtnParent">
                <a class="no-button lgtParent" id="logout" href="#">Logout</a>
            </button>
        </div>
    </header>   
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm clsgnup">
                <aside>
                    {{!-- <h2>Add a child to the Chores List {{Child.name}} </h2> --}}
                </aside>
                    {{!-- <div class="child-login-card login-card childsignup" id="child-login-card">
                    <h2 class="page-titleParent childAdd">Add a Child</h2> --}}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="childAdd">Add a Child</button>
                    </div>
                    <form class="formParent child-signup-form signup-form" id="child-signup-form">
                        {{!-- <p label for="parentid">{{ id }}</p> --}}
                        <div class="form-group">
                            <label for="child-parent-id">ParentID:</label>
                            <input value = {{ id }} class="form-input" type="text" id="child-parent-id" />
                        </div>
                        <div class="form-group">
                            <label for="username-signup">Username:</label>
                            <input class="form-input" type="text" id="username-signup" />
                        </div>
                        <div class="form-group">
                            <label for="password-signup">Password:</label>
                            <input class="form-input" type="text" id="password-signup" />
                        </div>
                        <div class="form-group">
                            <label for="hint-signup">Hint:</label>
                            <input class="form-input" type="text" id="hint-signup" />
                        </div>
                        <div class="form-group">
                            <label for="child-name">Name:</label>
                            <input class="form-input" type="text" id="child-name" />
                        </div>
                        <div class="form-group">
                            <label for="total-credit">Reward Goal:</label>
                            <input placeholder = "How Many?" class="form-input" type="number" id="total-credit" />
                        </div>
                        <div class="form-group">
                            <label for="credit-type">Reward in:</label>
                            <input  class="form-input" type="text" id="credit-type" />
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="childSave">Save</button>
                        </div>
                    </form>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                
                </div>
            <div class="col-sm">
                
                </div>
        </div>
        <div class="pageBG">
            <div class="col-sm">
                
                </div>
            <div>
                <section class="vh-50">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-9 col-xl-7">
                            <div class="card rounded-3">
                            <div class="card-body p-4">

                                <h4 class="text-center my-3 pb-3">To Do App</h4>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-warning" id="addTask">Add task</button>
                                </div>
                                <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" id="add-task-form">
                                <div class="col-12">
                                    <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" />
                                    <label class="form-label" for="form1">Enter a task here</label>
                                    </div>
                                    <div class="form-outline">
                                    <input type="text" id="form2" class="form-control" />
                                    <label class="form-label" for="form2">Describe the task</label>
                                    </div>
                                    <div class="form-outline">
                                    <input type="number" id="form3" class="form-control" />
                                    <label class="form-label" for="form3">How much is the award worth?</label>
                                    </div>
                                    <div class="form-outline">
                                    <input type="text" id="form4" class="form-control" />
                                    <label class="form-label" for="form4">Child name task is assigned too</label>
                                    </div>
                                    <div class="col-12">
                                    <button type="submit" class="btn btn-primary" id="saveTask">Save</button>
                                </div>
                                </div>
                                </form>

                                <table class="table mb-4">
                                <thead>
                                    <tr>
                                    <th scope="col">Child</th>
                                    <th scope="col">Task</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                            

                                        {{#each Chores as | chore |}}
                                                <td>{{chore.childName}}</td>
                                                <td>{{chore.name}}</td>
                                                <td>{{chore.description}}</td>
                                                <td id="finished-{{chore.id}}" 
                                                    type="submit" 
                                                    class="ms-1">
                                                    {{#if chore.status}}
                                                        checked
                                                    {{else}}
                                                        unchecked
                                                    {{/if}}
                                                </td>
                                                <td>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <button type="submit" class="btn btn-finish btn-success ms-1"
                                                data-id="{{chore.id}}" 
                                                data-childid="{{chore.child_id}}"
                                                data-parentid="{{../id}}"
                                            >Finished</button>
                                        </td>
                                        </tr>
                                        {{!-- <tr> --}}
                                    {{/each}}
                                </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </section>
            </div>
            <div class="col-sm">
                
                </div>
        </div>
        
    </main>
    <script 
    src="/js/button.js">
    </script>
    <script
    src="/js/parent.js">
    </script>
    