   <div id="pBackground">
    <header>
        <div class="row">
            <div class="col">
                <h1 id="ph1">{{chart}}</h1>
                <h1>{{ parent.id }}</h1>
            </div>
        </div>
        <div>
            <button class="logoutbtnParent">
                <a class="no-button lgtParent" id="logout" href="#">Logout</a>
            </button>
        </div>
    </header>   
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm clsgnup">
                <aside>
                    <h2 class="childAdd">Add a Child to the Chores List </h2>
                </aside>
                    <div class="login-card childsignup">
                    <h2 class="page-title childAdd">Signup</h2>
                    <form class="form signup-form">
                        <div class="form-group">
                            <label for="username-signup">Username:</label>
                            <input class="form-input" type="text" id="username-signup" />
                        </div>
                        <div class="form-group">
                            <label for="password-signup">Password:</label>
                            <input class="form-input" type="password" id="password-signup" />
                        </div>
                        <div class="form-group">
                            <label for="hint-signup">Hint:</label>
                            <input class="form-input" type="hint" id="hint-signup" />
                        </div>
                        <div class="form-group">
                            <label for="child-name">Name:</label>
                            <input class="form-input" type="hint" id="child-name" />
                        </div>
                        <div class="form-group">
                            <label for="credit-type">Reward in:</label>
                            <input class="form-input" type="hint" id="credit-type" />
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary Add">Add</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                
                </div>
            <div class="col-sm">
                
                </div>
        </div>
        <div>
            <div class="col-sm">
                
                </div>
            <div>
                <section class="vh-50">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-9 col-xl-7">
                            <div class="card rounded-3">
                            <div class="card-body p-4">

                                <h4 class="text-center my-3 pb-3">To Do App</h4>

                                <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                                <div class="col-12">
                                    <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" />
                                    <label class="form-label" for="form1">Enter a task here</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-warning">Get tasks</button>
                                </div>
                                </form>

                                <table class="table mb-4">
                                <thead>
                                    <tr>
                                    <th scope="col">Child</th>
                                    <th scope="col">Task</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                            

                                        {{#each Chores as | chore |}}
                                                <td>{{chore.childName}}</td>
                                                <td>{{chore.name}}</td>
                                                <td>{{chore.description}}</td>
                                                <td id="finished-{{chore.id}}" 
                                                    type="submit" 
                                                    class="ms-1">
                                                    {{#if chore.status}}
                                                        checked
                                                    {{else}}
                                                        unchecked
                                                    {{/if}}
                                                </td>
                                                <td>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <button type="submit" class="btn btn-finish btn-success ms-1"
                                                data-id="{{chore.id}}" 
                                                data-childid="{{chore.child_id}}"
                                                data-parentid="{{../id}}"
                                            >Finished</button>
                                        </td>
                                        </tr>
                                        {{!-- <tr> --}}
                                    {{/each}}
                                </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </section>
            </div>
            <div class="col-sm">
                
                </div>
        </div>
        
    </main>
    <script 
    src="/js/button.js">
    </script>
